@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/futura-now-headline');
@import url('https://db.onlinewebfonts.com/c/08e020de1811ec4489f82d1247a42c09?family=Helvetica+Now+Text');
@tailwind components;
@tailwind utilities;
@tailwind base;


body {
    background: #f7f7f7;
}

#my-map-display img.text-marker {
    max-width: none !important;
    background: none !important;
}

/* img {
    max-width: none
} */